body {
    background-color: #DDE5ED;
}

.App {
    background-color: black;
    padding: .2rem;
    width: min(200px, 90vw);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#upper-display, #lower-display {
    font-size: 1.5rem;
    text-align: right;
    margin-right: .5rem;
    color: white;
    min-height: 2rem;
    overflow-wrap: break-word;
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    aspect-ratio: calc(4/5);
    width: 98%;
    background-color: black;
    margin: auto;
}

button {
    background-color: #DDE5ED;
    border: 2px solid black;
}

#\= {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    background-color: #3E5D58;
    color: white;
}

#AC {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #3E5D58;
    color: white;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
}

#\/, #x, #\-, #\+ {
    background-color: #92aca0;
}

button:hover {
    transform: scale(1.05);
}
